.body-class {
    background-color: #83AF9B;
    padding-top: 20px;
    padding-bottom: 40px;
}

.jumbotron{
	margin-top: 7%;
	margin: 60px 0;
    text-align: center;
    background-color: #fff;
}

.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}

hr{
	width : 70%;
	background-color : #2A363B;
}

.btn-user{
	background-color : #16a085;
	color: #fff;
}

.btn-user:hover{
    color: #34495e;
}

.btn-artist{
	background-color : #f39c12;
	color: #fff;
}

.btn-artist:hover{
    color : #34495e;
}

.side-ways{
	float : left;
	margin : 0 0 0 10px;
}

.little-niche{
	margin-top: 5%;
}

.red{
	color : #c0392b;
}

.content {
  -webkit-transition: -webkit-transform 1s;
  -webkit-perspective: 600px;
}
.content .flip {
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 1s ease-in-out;
}
.content .flip.ng-enter {
    -webkit-transform: rotateY(-180deg);
}
.content .flip.ng-enter-active {
  -webkit-transform: rotateY(0deg);
}
.content .flip.ng-leave {
  -webkit-transform: rotateY(0deg);
}
.content .flip.ng-leave-active {
  -webkit-transform: rotateY(180deg);
}
/*.radio {
  position:relative;
  -webkit-appearance:none;
  -moz-appearance:none;
  width:10px;
  height:10px;
  margin:10px;
  margin-top:0px;
  -webkit-border-radius:100px;
     -moz-border-radius:100px;
          border-radius:100px;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.radio:checked {
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.radio:checked:after{
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  background:transparent;
}

.radio:after {
  position:absolute;
  top:5px;
  left:5px;
  width:5px;
  height:5px;
  background:#fff;
  content:"";
  -webkit-border-radius:100px;
     -moz-border-radius:100px;
          border-radius:100px;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    outline:0;
    text-shadow: 0 1px 1px rgba(255,255,255,0.3);
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}
*/

.slidedown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slidedown.ng-enter,
.slidedown.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.slidedown.ng-enter {
    top: -100%;
}
.slidedown.ng-enter-active {
    top: 0;
}
.slidedown.ng-leave {
    top: 0;
}
.slidedown.ng-leave-active {
    top: 100%;
}

.well {
    margin-top:-20px;
    background-color:#e74c3c;
    border:2px solid #c0392b;
    text-align:center;
    cursor:pointer;
    font-size: 25px;
    padding: 15px;
    border-radius: 0px !important;
}

.well:hover {
    margin-top:-20px;
    background-color:#c0392b;
    border:2px solid #c0392b;
    text-align:center;
    cursor:pointer;
    font-size: 25px;
    padding: 15px;
    border-radius: 0px !important;
    border-bottom : 2px solid rgba(97, 203, 255, 0.65);
}

.bg_blur
{
    background-image:url('http://data2.whicdn.com/images/139218968/large.jpg');
    height: 300px;
    background-size: cover;
}

.follow_btn {
    text-decoration: none;
    position: absolute;
    left: 35%;
    top: 42.5%;
    width: 35%;
    height: 15%;
    background-color: #e74c3c;
    padding: 10px;
    padding-top: 6px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border: 4px solid #e74c3c;
}

.follow_btn:hover {
    text-decoration: none;
    position: absolute;
    left: 35%;
    top: 42.5%;
    width: 35%;
    height: 15%;
    background-color: #c0392b;
    padding: 10px;
    padding-top: 6px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border: 4px solid rgba(255, 255, 255, 0.8);
}

.header{
    color : #808080;
    margin-left:10%;
    margin-top:70px;
}

.picture{
    height:150px;
    width:150px;
    position:absolute;
    top: 75px;
    left:-75px;
}

.picture_mob{
    position: absolute;
    width: 35%;
    left: 35%;
    bottom: 70%;
}

.btn-style{
    color: #fff;
    background-color: #007FBE;
    border-color: #adadad;
    width: 33.3%;
}

.btn-style:hover {
    color: #333;
    background-color: #3D5DE0;
    border-color: #adadad;
    width: 33.3%;

}

/*.blockquote
{
  font-size: 10px; !important
  border-left: 2px solid #e6e6e6;
}*/


.btn-embossed {
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}
.btn-embossed:hover,
.btn-embossed:focus {
  top: 2px;
  position: relative;
}
.btn-embossed.btn-primary {
  -webkit-box-shadow: 0 5px #009dcd;
  box-shadow: 0 5px #009dcd;
}
.btn-embossed.btn-primary:hover,
.btn-embossed.btn-primary:focus {
  -webkit-box-shadow: 0 3px #009dcd;
  box-shadow: 0 3px #009dcd;
  background: #02baf2;
}
.btn-embossed.btn-primary.active,
.btn-embossed.btn-primary:active {
  -webkit-box-shadow: 0 0 #009dcd;
  box-shadow: 0 0 #009dcd;
  top: 5px;
  background: #02baf2;
  border-color: #02baf2;
}
.btn-embossed.btn-danger {
  -webkit-box-shadow: 0 5px #cc0000;
  box-shadow: 0 5px #cc0000;
}
.btn-embossed.btn-danger:hover,
.btn-embossed.btn-danger:focus {
  -webkit-box-shadow: 0 3px #cc0000;
  box-shadow: 0 3px #cc0000;
  background: #f84545;
}
.btn-embossed.btn-danger.active,
.btn-embossed.btn-danger:active {
  -webkit-box-shadow: 0 0 #cc0000;
  box-shadow: 0 0 #cc0000;
  top: 5px;
  background: #f84545;
  border-color: #f84545;
}
.btn-embossed.btn-warning {
  -webkit-box-shadow: 0 5px #f3bc65;
  box-shadow: 0 5px #f3bc65;
}
.btn-embossed.btn-warning:hover,
.btn-embossed.btn-warning:focus {
  -webkit-box-shadow: 0 3px #f3bc65;
  box-shadow: 0 3px #f3bc65;
  background: #fad46b;
}
.btn-embossed.btn-warning.active,
.btn-embossed.btn-warning:active {
  -webkit-box-shadow: 0 0 #f3bc65;
  box-shadow: 0 0 #f3bc65;
  top: 5px;
  background: #fad46b;
  border-color: #fad46b;
}
.btn-embossed.btn-success {
  -webkit-box-shadow: 0 5px #28948c;
  box-shadow: 0 5px #28948c;
}
.btn-embossed.btn-success:hover,
.btn-embossed.btn-success:focus {
  -webkit-box-shadow: 0 3px #28948c;
  box-shadow: 0 3px #28948c;
  background: #3eb5ac;
}
.btn-embossed.btn-success.active,
.btn-embossed.btn-success:active {
  -webkit-box-shadow: 0 0 #28948c;
  box-shadow: 0 0 #28948c;
  top: 5px;
  background: #3eb5ac;
  border-color: #3eb5ac;
}
.btn-embossed.btn-purple {
  -webkit-box-shadow: 0 5px #9175bd;
  box-shadow: 0 5px #9175bd;
}
.btn-embossed.btn-purple:hover,
.btn-embossed.btn-purple:focus {
  -webkit-box-shadow: 0 3px #9175bd;
  box-shadow: 0 3px #9175bd;
  background: #a88cd5;
}
.btn-embossed.btn-purple.active,
.btn-embossed.btn-purple:active {
  -webkit-box-shadow: 0 0 #9175bd;
  box-shadow: 0 0 #9175bd;
  top: 5px;
  background: #a88cd5;
  border-color: #a88cd5;
}
.btn-embossed.btn-orange {
  -webkit-box-shadow: 0 5px #e96300;
  box-shadow: 0 5px #e96300;
}
.btn-embossed.btn-orange:hover,
.btn-embossed.btn-orange:focus {
  -webkit-box-shadow: 0 3px #e96300;
  box-shadow: 0 3px #e96300;
  background: #f58410;
}
.btn-embossed.btn-orange.active,
.btn-embossed.btn-orange:active {
  -webkit-box-shadow: 0 0 #e96300;
  box-shadow: 0 0 #e96300;
  top: 5px;
  background: #f58410;
  border-color: #f58410;
}

.btn-block {
  white-space: normal;
}





