<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.0/cosmo/bootstrap.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<title style>Artist Registration</title>
</head>
<body>
	
	<form class="form-horizontal">
		<fieldset>
			<div class="container">
				<h1 class="text-center">Artist Registration</h1>
				<br>
				<div class="form-group">
					
					<div class="col-md-4 col-md-offset-4 text-center" >
						<input type="text"  class="form-control"  id="userNameId" placeholder="User Name">
					</div>
				</div>
				<div class="form-group">
					
					<div class="col-md-4 col-md-offset-4 text-center" >
						<input type="text"  class="form-control"  id="ArtistNameId" placeholder="Artist Name">
					</div>
				</div>
				
				
				
				<div class="form-group">
					
					<div class="col-md-4 col-md-offset-4 text-center" >
						<input type="text"  class="form-control"  id="artistWbId" placeholder="Website">
					</div>
				</div>
				<div class="form-group">
				
					<div class="col-md-4 col-md-offset-4">
					<label for="select" class="control-label">Verifying Company*</label>
						<select class="form-control" id="selectCompanyID">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
				</div>


				<div class="form-group">
					 
					<div class="col-md-4 col-md-offset-4">
						<label for="select" class="control-label">Music Category*</label>
						<select multiple="" class="form-control">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					
					<div class="col-md-4 col-md-offset-4">
						<input type="password" class="form-control" id="inputPassword" placeholder="Password">
					</div>
				</div>
				<div class="form-group">
					
					<div class="col-md-4 col-md-offset-4">
						<input type="password" class="form-control" id="inputPassword" placeholder="Confirm Password">
					</div>
				</div>
				
				<br>
				<div class="form-group">
					<div class="col-md-4 col-md-offset-4">
					
						<button style="border: 1px solid; border-radius: 25px; background:#27ae60;" type = "submit" href="#" class="btn btn-default btn-md btn-block ">Register</button>
					</div>
				</div>
			</div>
		</fieldset>
	</form>

</body>
</html>