<h3 ng-if="loginerr" class="text-center" style='color: #c0392b;'>{{ usererror }}</h3>
<form class="form-horizontal" ng-submit="artistRegister()">
    <fieldset>
        <div class="container">
            <h1 class="text-center">Artist Registration</h1>
            <br>
            <div class="form-group">

                <div class="col-md-4 col-md-offset-4 text-center">
                    <input type="text" class="form-control" ng-model="artistusername" placeholder="User Name">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <input type="text" class="form-control" ng-model="artistname" placeholder="Artist Name">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <input type="text" class="form-control" ng-model="artistwebsite" placeholder="Website">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4 col-md-offset-4">
                    <label for="select" class="control-label">Verifying Company*</label>
                    <select  class="form-control" ng-model="company">
                        <option value="{{ line.company_id }}"ng-repeat="line in companylist"> {{ line.company_name }}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-4 col-md-offset-4">
                    <label for="select" class="control-label">Music Category*</label>
                    <select multiple="" class="form-control" ng-model="selectedCat">
                        <option value="{{ cat.genre_id }}-{{ cat.sub_genre_id }}"ng-repeat="cat in musiccat"> {{ cat.sub_genre_name }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-4 col-md-offset-4">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="apassword">
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-4 col-md-offset-4">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Confirm Password">
                </div>
            </div>

            <br>
            <div class="form-group">
                <div class="col-md-4 col-md-offset-4">

                    <button style="border: 1px solid; border-radius: 25px; background:#27ae60;" type="submit" href="#" class="btn btn-default btn-md btn-block ">Register</button>
                </div>
            </div>
        </div>
    </fieldset>
</form>
