    <div class="container">
        <ul class="nav nav-pills pull-right">
            <li class=" slideExpandUp active">
                <a class="btn-login blue" href="#/login">Login</a>
            </li>
        </ul>
    </div>

		<div class="container">
			<div class="jumbotron">
			  <img style="position:relative; float:center; display: inline-block;" src="/images/logo-color-strum.png"><br>
			  <p>This is a kick-ass music website. Use it only if you think you are a bad ass. It allows you to browser music and do other doope shit!!!</p>

        <hr>
        <div class="row">
          <div style="margin-top: 10%;" class="container">
            <h2>Ready to join in? You are ..</h2>
            <p><a href="#/user" style="float: left; padding-left : 20%; padding-right : 20%;" class="slideRight btn btn-user btn-lg side-ways">USER</a></p>
            <p class="side-ways">OR</p>
            <p><a href="#/artist" style="padding-left : 20%; padding-right : 20%;" class="slideLeft btn btn-artist btn-lg side-ways">ARTIST</a></p>
          </div>

        </div>
			</div>
		</div>

    <hr>

    <div class="footer little-niche">
      <div class="container text-center">
         <p style="font-size:23px;font-weight:200;"><span class="glyphicon glyphicon-heart red" aria-hidden="true"></span> <span style="color: ##2c3e50">from <a href="#/user/crc42">@imcrc</a></span></p>
         <!-- http://twitter.com/imcrc -->
      </div>
    </div>
