<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.0/cosmo/bootstrap.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<title style>Search</title>
</head>
<body>
	
	<form class="form-horizontal">
		<fieldset>
			<div class="container">
				<div class="row">
					<legend>Search</legend>

					<br>
				</div>
				<div class="form-group">
					
					<div class="col-md-4 col-md-offset-4 text-center" >
						<input type="text"  class="form-control"  id="searchCityID" placeholder="Enter City">
					</div>
				</div>
				<div class="form-group">
					 
					<div class="col-md-4 col-md-offset-4">
						<label for="select" class="control-label">Search by Artist</label>
						<select multiple="" class="form-control">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					 
					<div class="col-md-4 col-md-offset-4">
						<label for="select" class="control-label">Search by Music Category</label>
						<select multiple="" class="form-control">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label  class="control-label col-md-1 text-left">From Date</label>
					<div class="col-md-4 text-left" >
						<h4>Date Of Birth: <lable id="dobId" >MM/DD/YYYY</lable></h4>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-1 text-left">To Date</label>
					<div class="col-md-4 text-left" >
						<h4>Date Of Birth: <lable id="dobId" >MM/DD/YYYY</lable></h4>
					</div>
				</div>


			</div>
		</fieldset>
	</form>
</body>
</html>				