<div class="container" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="row panel">
        <div class="col-md-4 bg_blur ">
            <a href="#" class="follow_btn hidden-xs">Follow</a>
        </div>
        <div class="col-md-8  col-xs-12">
            <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="img-thumbnail picture hidden-xs" />
            <img src="https://pbs.twimg.com/profile_images/468837776314892288/wLcPz3VI.jpeg" class="img-thumbnail visible-xs picture_mob" />
            <div class="header">
                <h1>Chirag Chauhan</h1>
                <h4>New York</h4>
                <blockquote>
                    <span>This is my status yo! I'm rocking this css yo! </span>
                </blockquote>
            </div>
        </div>
    </div>

    <div class="row nav">
        <div class="col-md-4"></div>
        <div class="col-md-8 col-xs-12" style="margin: 0px;padding: 0px;">
            <div class="col-md-6 col-xs-6 well"><i class="clouds-color fa fa-heart-o fa-lg"></i> 14</div>
            <div class="col-md-6 col-xs-6 well"><i class="clouds-color fa fa-thumbs-o-up fa-lg"></i> 26</div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="list-group">
            <a href="#" class="list-group-item active">My List :</a>
            <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
            <a href="#" class="list-group-item">Morbi leo risus</a>
        </div>
    </div>

</div>
