
<form class="form-horizontal" ng-submit="usercreateConcert()">
    <fieldset>
        <div class="container">
            <h1 class="text-center">Add Concert</h1>
            <br>
            <div class="form-group">
                <div class="col-md-4 col-md-offset-4">
                    <label for="select" class="control-label">Concert Artist*</label>
                    <select class="form-control" ng-model="artistn">
                        <option value="{{ artist.artist_id}}" ng-repeat="artist in artistlist"> {{ artist.artist_name }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-4 col-md-offset-4 text-center" >
                    <input type="text"  class="form-control"  ng-model="concertName" placeholder="Concert Name">
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-4 col-md-offset-4 text-center" >
                    <input type="text"  class="form-control"  ng-model="concertDate" placeholder="Concert Date and Time">
                </div>
            </div>

            <div class="form-group">


                <div class="col-md-4 col-md-offset-4">
                    <label for="select" class="control-label">Music Category*</label>
                    <select class="form-control" ng-model="cat">
                        <option value="{{ cat.genre_id }}-{{ cat.sub_genre_id }}"ng-repeat="cat in musiccat"> {{ cat.sub_genre_name }}</option>
                    </select>
                </div>


            </div>
            <div class="form-group">
                <div class="col-md-4 col-md-offset-4">
                    <label for="select" class="control-label">Select Venue*</label>
                    <select class="form-control" ng-model="venue">
                       <option value="{{venue.venue_id}}" ng-repeat="venue in venuelist"> {{ venue.venue_name}}</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-md-4 col-md-offset-4">

                    <button style="border: 1px solid; border-radius: 25px; background:#27ae60;" type = "submit" href="#" class="btn btn-default btn-md btn-block ">Add</button>
                </div>
            </div>
        </div>
    </fieldset>
</form>
