
<form class="form-horizontal" action="stump/phpFiles/RegisterUserInDB.php" method="post">
	<fieldset>
		<div class="container">
			<h1 class="text-center">User Registration</h1>
			<br>
			<div class="form-group">

				<div class="col-md-4 col-md-offset-4 text-center" >
					<input type="text"  class="form-control"  id="userNameid" name="userNameid" placeholder="Username">
				</div>
			</div>
			<div class="form-group">

				<div class="col-md-4 col-md-offset-4 text-center" >
					<input type="text"  class="form-control"  id="fNameId" name="fNameId" placeholder="First Name">
				</div>
			</div>
			<div class="form-group">

				<div class="col-md-4 col-md-offset-4 text-center" >
					<input type="text"  class="form-control"  id="lNameId" name="lNameId" placeholder="Last Name">
				</div>
			</div>
			<div class="form-group">

				<div class="col-md-4 col-md-offset-4 text-center" >
					<input type="text"  class="form-control"  id="userDob" name="userDob" placeholder="DOB : MM/DD/YYYY">
				</div>
			</div>
			<div class="form-group">

				<div class="col-md-4 col-md-offset-4 text-center" >
					<input type="text"  class="form-control"  id="userCity" name="userCity" placeholder="City">
				</div>
			</div>
			<div class="form-group">

				<div class="col-md-4 col-md-offset-4 text-center" >
					<input type="text"  class="form-control"  id="inputEmailID" name="inputEmailID" placeholder="Email ID">
				</div>
			</div>
			<div class="form-group">

				<div class="col-md-4 col-md-offset-4">
					<label for="select" class="control-label">Music Category*</label>
					<select multiple="" class="form-control">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
			</div>
			<div class="form-group">

				<div class="col-md-4 col-md-offset-4">
					<input type="password" class="form-control" id="inputPassword" placeholder="Password">
				</div>
			</div>
			<div class="form-group">

				<div class="col-md-4 col-md-offset-4">
					<input type="password" class="form-control" id="confirmInputPassword" placeholder="Confirm Password">
				</div>
			</div>

			<br>
			<div class="form-group">
				<div class="col-md-4 col-md-offset-4">

					<button style="border: 1px solid; border-radius: 25px; background:#27ae60;" type = "submit" href="#" class="btn btn-default btn-md btn-block ">Register</button>
				</div>
			</div>
		</div>
	</fieldset>
</form>
