<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.0/cosmo/bootstrap.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<title style>User Profile</title>
</head>
<body>
	
	<form class="form-horizontal">
		<fieldset>
			<div class="container">
				<div class="row">
					<legend>User Profile </legend>
					<br>

					<div class="form-group">

						<div class="col-md-6 " >
							<h4>Name: <lable id="fnameId" >First Name</lable>&nbsp;<lable id="lnameId">Last Name</lable></h4>
						</div>
						<div class="col-md-6 text-left" >
							<h4>City: <lable id="cityId" >User City</lable> </h4>
						</div>
					</div>
				</div>
				<div class="form-group">
						
						<div class="col-md-4 text-left" >
							<h4>City: <lable id="cityId" >User City</lable> </h4>
						</div>
					</div>
				<div class="form-group">
					
					<div class="col-md-4 text-left" >
						<h4>Date Of Birth: <lable id="dobId" >MM/DD/YYYY</lable></h4>
					</div>
				</div>
				<div class="form-group">
					
					<div class="col-md-4 text-left" >
						<h4>Email Id: <lable id="emailId" >Email ID</lable></h4>
					</div>
				</div>
				<div class="checkbox">
					<h4>Music Categories followed:<br> 
						<label>
							<input type="checkbox" disabled="true" checked="1"> Music Category one
						</label>
						<br>
						<label>
							<input type="checkbox" disabled="true" checked="1"> Music Category two
						</label>
						<br>
						<label>
							<input type="checkbox" disabled="true" checked="1"> Music Category third
						</label>
						<br>
						<label>
							<input type="checkbox" disabled="true" checked="1"> Music Category fourth
						</label>
					</h4>
				</div>
				
				
				
				
				
			</div>	
				
			</div>
		</fieldset>
	</form>

</body>
</html>